= content_for :description, "Рейтинговые списки абитуриентов УрФУ. Бережно взятые с официального сайта и представленые в удобном виде. Сайт ежедневно обновляется с мая по сентябрь."

= react_component 'Users', users: @users
